---
bio: 'I have been serving through this industry for over 10 years. My father before
  me is my mentor and the owner of the business where I sold my first copier, needless
  to say I have toner running through my blood. It is my goal to know and learn more
  about each individual business that I serve as I believe in a referral relationship
  and also knowing more about your solutions to better serve you with mine. I love
  being different from other boring sales people as life is too short not to be yourself
  and have fun. '
counters:
- count: 10189
  subject: BBQ Sandwiches Eaten So Far...
- count: 5
  subject: Major Lines Of Equipment Sold...
- count: 999
  subject: Different Ways To Save You Money...
details:
  header: The only copier sales guy that wields a Lightsaber!
  body: 'As a member of the community I serve on various boards and non-profit committees.
    I am a member of several chamber of commerce’s and an advocate for other industries,
    not just my own. I am bold, I have guts and I love to serve. I am not afraid to
    tell people that I am not the right fit and I am always looking to earn that extra
    bit of trust in my relationships through my business. Why wouldn''t you call me?
    How would talking to me/meeting up at your office be a waste of your time? We''ll
    laugh, we''ll cry, we might even sing songs and prank your employees. Also, I
    don''t charge for visits! See? There''s no reason for us not to meet, so call
    me and let me come and tell you my story. '
  features:
  - text: I am a top tier Canon rep and recognized in the top 5 sales people for the
      state of FL
    type: star
  - text: I was the first official copier provider (2011-2015) of Orlando City SC,
      now I'm just a season ticket holder/huge fan!
    type: history
  - text: I am the only copier sales person with his own commercial. Eat your heart
      out Dollar Shave Club!
    type: users
  - text: 'My top goals in life are to: Write a book, travel the world, build a shelter
      for the sick and poor in another Country, adopt children.'
    type: star
does:
  title: What He Does
  abilities:
  - heading: Copier Leases
    image: img/dale-copierwarrior-copierleases.jpg
    subheading: Only The Best For My Clients
  - heading: Print Fleet Management
    image: img/dale-copierwarrior-fleetservices.jpg
    subheading: Keeping your checkbook balanced<br> and your toner closet stocked
  - heading: Copier Repair
    image: img/dale-copierwarrior-copierrepair.jpg
    subheading: It Break, I Fix
email: dale.dupree85@gmail.com
facebook: salesrebellion
fact: I was born to serve
feature:
  title: What His Clients Say About Him.
  percentages:
  - percent: 98
    title: Of Clients Are Glad They Switched
  - percent: 72
    title: Said Copier Service Was Top Notch
  - percent: 84
    title: Were Not Totally Satisfied With Previous Rep
  - percent: 67
    title: Recommend Dale Dupree To Friends
fullname: Dale Dupree
layout: default
mobile: "(407) 719-2844"
office: Is my cell phone too because I'm a millenial and don't know how to use a landline.
tagline: Man, Myth, Sales Guy.
testimonials:
- name: Dennis Gagnon
  quote: I've been working with Dale, and his company for several years. They've always
    met expectations, on an ongoing basis, and have resolved issues in a timely manner.
    I don't expect things to be perfect, but I do expect that when things go wrong,
    that they are fixed as quickly as possible. Dale and his staff have always lived
    up to that expectation. He has never over-promised, and under-delivered as is
    the case with many sales organizations. They offer a lot of value for your hard-earned
    dollar.
  title: Owner, Non-traditional Wealth Management
- name: Kathy Clinton
  quote: Dale is very knowledgeable about the products he offers and how they can
    be used to make your business more efficient. Dale has given me very good advice
    concerning our processes at our non-profit agency. He truly cares about our community
    and is anxious to help in any way he can.
  title: Executive Director at Hidden Potentials, Inc.
- name: Ray Bazzi
  quote: I am very impressed with Dale's great ability to consult with companies to
    determine the best and most cost effective solution when it comes to copiers.
    Dale is professional, knowledgeable, and most importantly makes doing business
    with him easy and fun.
  title: CEO, Diriga Technologies
title: The Copier Warrior
twitter: SalesRebellion
youtube: https://www.youtube.com/embed/_BxlIV-9xjM
youtube_channel: https://youtube.com/channel/UC-BqyrLcd1uRE9zjAZuFDeg
---

<section id="intro">
  <div class="video-content">
    <div class="container">
      <div class="col-lg-10 col-lg-offset-1 wp5 delay-05s">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="{{ youtube }}"></iframe>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12 wp1 delay-05s">
        <br><br>
        <div class="intro-info-wrapper">
          <h2 class="text-center">Connect With The <span class="text-color font-light">Copier Warrior</span> Here!</h2>
          <p class="text-center">Connect with <span class="text-color font-light"><a href="http://www.twitter.com/{{ twitter | downcase }}">@{{ twitter }}</a></span> using any of the links below and meet with the one and only <strong>Dale Dupree!</strong></p>
        </div>
      </div>
      <div class="col-lg-12 wp1">
        <ul class="social-buttons">
          <li><strong>Text Me</strong><br/><a href="sms:+1{{ mobile }}?body=Let%27s%20do%20lunch.%20Please%20call%20me."><span>{{ mobile }}</span></a></li>
          <li><a href="https://twitter.com/{{ twitter | downcase }}"><i class="fa fa-twitter fa-fw"></i> <span>Twitter</span></a></li>
          <li><a href="https://www.facebook.com/{{ facebook }}?fret=ts"><i class="fa fa-facebook fa-fw"></i> <span>Facebook</span></a></li>
          <li><a href="{{ youtube_channel }}"><i class="fa fa-youtube fa-fw"></i> <span>YouTube</span></a></li>
          <li><strong>Email Me</strong><br/><a href="mailto:{{ email }}"><span>Send Message</span></a></li>
        </ul>
      </div>
      <div class="col-md-12 wp1 delay-05s hidden-xs">
        <br><br>
        <div class="intro-info-wrapper">
          <h2 class="text-center"><span class="text-color font-light">Scroll Down</span> For More Fun Facts!</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div style="margin-top:20px" class="more page-scroll" id="more">
    <a href="#about"><i class="fa fa-angle-down"></i></a>
  </div>
  <div class="container wp2">
    <h1 class="section-title">Who Is Dale Dupree</h1>
    <div class="row">
      <div class="col-md-6 wp2 delay-05s">
        <div class="movie-avatar-img">
          <img src="img/dale-copywarrior-001.jpg" alt="Dale with lightsaber">
        </div>
      </div>
      <div class="col-md-6 wp2 delay-1s">
        <h2>{{ fullname }} <span class="text-color">{{ title }}</span></h2>
        <h4 class="sub-text">{{ tagline }}</h4>
        <table class="text-dark">
          <tr>
            <td>Office</td>
            <td>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</td>
            <td><a href="tel:{{ office }}">{{ office }}</a></td>
          </tr>
          <tr>
            <td>Cell</td>
            <td>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</td>
            <td><a href="tel:{{ mobile | remove: '(' | remove: ')' | remove: ' ' | remove: '-' }}">{{ mobile }}</a></td>
          </tr>
          <tr>
            <td>Email</td>
            <td>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</td>
            <td><a href="mailto:{{ email }}">{{ email }}</a></td>
          </tr>
          <tr>
            <td>Fact</td>
            <td>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</td>
            <td>{{ fact }}</td>
          </tr>
        </table>
        <br>
        <p>{{ bio }}</p>
        <br>
        <div class="detailed">
          Daily Hive fives:&nbsp;&nbsp;
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
          <span>Five'ing Effectiveness &nbsp;<b>/  4.5</b></span>
        </div>
        <p></p>
      </div>
    </div>
  </div>
</section>
<section id="about-sub">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 wp3 delay-05s">
        <h2 class="sub-title">{{ details.header }}</h2>
        <p>{{ details.body }}</p>
        <ul class="feature-list">
          {% for feature in details.features %}
          <li><em class="fa fa-{{ feature.type }}"></em> {{ feature.text }}</li>
          {% endfor %}
        </ul>
        <p><span class="text-color">//</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;So many more bullet points to add here. You can call me any time at <a href="tel:{{ mobile }}">{{ mobile }}</a> to ask about them.</p>
      </div>
      <div class="col-lg-3 col-md-3" id="counters">
        <ul class="counters wp3">
          {% for counter in counters %}
          <li>
            <span data-amount="{{ counter.count }}">0</span>
            <h5>{{ counter.subject }}</h5>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="features">
  <div class="container">
    <div class="row">
      <div id="expand-counters" class="col-md-6 features wp4">
        <h2 class="sub-title">{{ feature.title }}</h2>
        <ul class="features-wrap">
          {% for item in feature.percentages %}</h2>
          <li>
            <h6>{{ item.title}}</h6>
            <div data-amount="{{ item.percent }}"><span class="expand"><em><b></b>%</em></span></div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-6 wp4 delay-05s">
        <div class="panel-group" id="accordion">
          {% for person in testimonials %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.index }}"><span class="glyphicon glyphicon-minus"></span> Testimonial: <strong style="color:#7D7D7D">{{ person.name }}</strong></a></h4>
            </div>
            <div id="collapse{{ forloop.index }}" class="panel-collapse collapse{% if forloop.first %} in{% endif %}">
              <div class="panel-body">
                <strong>{{ person.title }}</strong>
                <br/><br/>
                <em>{{ person.quote }}</em>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section id="actors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-title">{{ does.title }}</h1>
        <div class="owl-actor">
          {% for item in does.abilities %}</h2>
          <div class="item">
            <div class="col-md-12 wp6{% if forloop.index == 2 %} delay-05s{% elsif forloop.index == 3 %} delay-1s{% endif %}">
              <div class="actor">
                <div class="avatar">
                  <img alt="img" src="{{ item.image }}">
                </div>
                <div class="details">
                  <h5><em>More Details Call</em><br/><a href="tel:{{ mobile }}">{{ mobile }}</a></h5>
                  <h5>Message Me</h5>
                  <a href="mailto:{{ email }}">Send Email Now</a>
                </div>
              </div>
              <div class="actor-info">
                <h4 class="heading">{{ item.heading }}</h4>
                <h5 class="sub-heading">{{ item.subheading }}</h5>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
