<section id="contact">
  <div class="container text-center">
    <div class="col-lg-12 wp1">
      <ul class="social-buttons">
        <li><strong>Text Me</strong><br/><a href="sms:+1{{ mobile }}?body=Let%27s%20do%20lunch.%20Please%20call%20me."><span>{{ mobile }}</span></a></li>
        <li><a href="https://twitter.com/{{ twitter | downcase }}"><i class="fa fa-twitter fa-fw"></i> <span>Twitter</span></a></li>
        <li><a href="https://www.facebook.com/{{ facebook }}?fret=ts"><i class="fa fa-facebook fa-fw"></i> <span>Facebook</span></a></li>
        <li><a href="{{ youtube_channel }}"><i class="fa fa-youtube fa-fw"></i> <span>YouTube</span></a></li>
        <li><strong>Email Me</strong><br/><a href="mailto:{{ email }}"><span>Send Message</span></a></li>
      </ul>
    </div>
    <div class="copyright">{{ copyright }}</a><br></div>
    <div class="footer-line"></div>
  </div>
</section>
<script src="js/script.js"></script>
